<div class="container-fluid container">

  <h1>Welcome to <a href="text-later.heokuapps.com">TextLater!</a></h1>
  <p>Use the fields below to send an sms. If longer than 160 characters, it will
    be broken across messages.</p>

  <form action="/text/schedule" method="post">
    <label for="to">To:</label>
    <input type='tel' name='text[to]' placeholder='e.g. 123-456-7890' required>

    <label for="body">Message:</label>
    <textarea name="text[body]" placeholder="e.g. happy mother's day..." 
    rows="5" cols="30" required></textarea>
    
    <br><br>

    <label for="text[date]">Date</label>
    <input type="text" name="text[date]" size="10" placeholder="mm/dd/yyyy">

    <label for="text[date]">time</label>
    <input type="text" name="text[time]" size="10" placeholder="hh:mm ?m">

    <br><br>

    <input type="submit" class='btn btn-large btn-success' value="Send later &raquo;">
  </form>

</div>

