<div class="container">
  <h1>Welcome to TextLater!</h1>
  <p>Use the fields below to send an sms. If longer than 160 characters, it will
    be broken across messages.</p>
  <form action="/text/schedule" method="post">
    <label for="to">To:</label>
    <input type='tel' name='text[to]' placeholder='e.g., ###-###-####'>
    <label for="body">Message:</label>
    <input type="text" name="text[body]" placeholder="e.g., happy mother's day..." required>
    <input type="submit" value="Send later &raquo;">
  </form>

</div>
